<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand color-navbar" href="#"><i class="fas fa-capsules"></i> SlimCaps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link color-navbar" href="/">Início<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-navbar" href="/produtos">Produtos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link color-navbar" href="#">Informações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-navbar" href="/blog">Blog</a>
      </li>
      <% if(currentUser && currentUser.isAdmin) { %>
        <li class="nav-item dropdown">
          <a class="nav-link color-navbar dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/produtos/adicionar-produto">Adicionar Produto</a>
            <a class="dropdown-item" href="/blog/adicionar-blog">Adicionar Notícia</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Transações</a>
          </div>
        </li>
      <% } %>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit"><i class="fas fa-search"></i> Pesquisar</button>
          </form>
      </ul>
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item">
        </li>
        <% if(!currentUser) { %>
        <li class="nav-item">
          <a class="nav-link color-navbar" href="/registrar"><i class="fas fa-user-plus"></i> Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-navbar" href="/entrar"><i class="fas fa-sign-in-alt"></i> Entrar</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link color-navbar">Bem vindo, <%= currentUser.username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-navbar" href="/perfil">Perfil</a>
          </li>
	      <li class="nav-item">
          <a class="nav-link color-navbar" href="/logout">Sair</a>
        </li>
	      <% } %>
      </ul>
    </div>
  </nav>