<% layout('layouts/boilerplate') -%>

<div>
  <div>
    <div class="content2">
      <h1>Mantenha um estilo de vida saudável</h1>
      <p>O Slimcaps te ajuda.</p>
    </div>
    <video autoplay muted loop id="myVideo">
      <source src="/videos/coverr-girl-runs-in-the-park-1565867316250.mp4" type="video/mp4">
        <!-- Optional: some overlay text to describe the video -->
    </video>
  </div>
  
  
  
  

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="default-color">Some Text</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam fuga, ut quis quaerat, in iste qui, mollitia repellat alias iure modi nobis eius magni nesciunt perspiciatis! Maiores ipsum atque et?</p>
      </div>
      <div class="col-lg-6">
        <img class="border rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrrt7ktpsgsTTGjNdS5PCdEI_ve9ZGTwg__yAIYJjTCqBOO1AY&s" alt="">
      </div>
    </div>
  </div>

  <h2>Posts recentes</h2>
  <p>little card here</p>
  
  <h2>look our products</h2>
  <button>Ver</button>
</div>
